@media print{@page {size: landscape}}

.long{
   /* background-color:rgba(0,0,255, .3);
    width:100px;
    text-align: right*/
}
.medium{
 /*   background-color:yellow;
    opacity: 35%;
    width:100px;
    text-align: right*/
}
.set-apart{
    display:inline;
}

#other_info{
   font-size: 11px;
}

.time{
    display:none;
}
.set_apart{

}
.not_set_apart{
    background-color:rgba(0,0,255, .3);
    width:100px;
    text-align: right
}
/***********************************************************/
#title{
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 5px;
}
#title .date {
    float:right;
    font-size: 12px;
}


#calling_table{
    -webkit-column-count: 4; /* Chrome, Safari, Opera */
    -moz-column-count: 4; /* Firefox */
    column-count: 4;
    font-size: 9px;
}
h2{
    margin: 0px;
    }
.position{
    float:left;
    font-weight: bold;
    }
.name{
    float:right;
    font-weight: bold;
    text-align: right;
    }
.calling{
    clear:both;
    }
.group-wrapper{
    padding-bottom:10px;
    -webkit-column-break-inside: avoid; /* Chrome, Safari */
    page-break-inside: avoid;           /* Theoretically FF 20+ */
    break-inside: avoid-column;         /* IE 11 */
    display:table;                     /* Actually FF 20+ */
}
.group{
    border: 1px solid black;
    padding: 5px 5px 15px 5px;

    width:230px;
    border-radius: 5px;
    box-shadow: 1px 2px 5px 0 #000000;
     }
.time{
    font-size: 7px;
    font-weight: normal;
}
.vacant{
    border: 1px solid black;
        width:100px;
    text-align: center;
    background-color: rgba(100,100,100, .25);
}


#other_info h1{
    margin-top: 0px;
    margin-bottom: 0px;
}
.unfilled{
    float: left;

    width:50%;
}
.no_callings{
    float:right;
    width:50%;
}

.no_callings #col1{
    width:50%;
    float:left;
}
.no_callings #col2{
    width:50%;

    float:left;
}